@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto+Slab:wght@100..900&display=swap");

:root {
  /* --bg: linear-gradient(90deg, #000328, #00458e); */
  /* --bg: #0f172a; */
  /* --bg: linear-gradient(90deg, #000328, #76aeea); */
  --bg: linear-gradient(90deg, #000328, #194a7f);

  /* --card: #1e293b; */
  --card: #03274e;
  --text: #e5e7eb;
  --accent: #38bdf8;
  --card-hover: #233b5e;
  --link: rgb(37, 176, 157);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: var(--bg);
  color: var(--text);
  line-height: 1.6;
  overflow-x: hidden;
}

/* ================= HEADER ================= */
header {
  padding: 2rem 1rem;
  text-align: center;
}

header h1 {
  font-family: "Archivo Black", sans-serif;
  font-weight: 100;
  font-size: 4.5rem;
  color: var(--accent);
}

header p {
  margin-top: 0.5rem;
  font-size: 1.1rem;
  opacity: 0.9;
}

nav {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1.5rem;
  font-size: 1.2rem;
  flex-wrap: wrap;

}

nav a {
  text-decoration: none;
  color: var(--text);
  font-weight: bold;
  transition: color 0.35s ease, border-bottom 0.25s ease;

}

nav a:hover {
  color: var(--accent);
  border-bottom: 2px solid var(--accent);
}

/* ================= SECTIONS ================= */

section {
  max-width: 1000px;
  margin: auto;
  padding: 3rem 1.5rem;
  scroll-margin-top: 50px;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: var(--accent);
  text-decoration: underline;
  font-family: "Roboto Slab", serif;
}

/* ================= CARDS ================= */

.card {
  background-color: var(--card);
  padding: 2rem;
  border-radius: 12px;
  margin-bottom: 5rem;
}

.card h3 {
  margin-top: 0;
  color: var(--accent);
  text-decoration: underline;
}

.mt {
  margin-top: 0.8rem;
}

/* ================= SKILLS ================= */


.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.skill {
  flex: 0 0 calc(33.333% - 1.5rem);
  background: #020617;
  padding: 1rem 2rem;
  border-radius: 40px;
  font-size: 0.9rem;
  border: 2px solid var(--accent);
  font-weight: bold;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease,
    color 0.3s ease;
}

.skill:hover {
  background: var(--accent);
  color: var(--bg);
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(56, 189, 248, 0.15);
}

/* ================= PROJECTS / SERVICES ================= */

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
}

.card-tran {
  border: 1px solid #334155;
  box-shadow: 0px 8px 8px #145976;
  transition: transform 0.25s ease, background 0.25s ease, box-shadow 0.25s ease;
  margin-top: 1rem;
}

.card-tran:hover {
  transform: translateX(5px) translateY(-5px);
  background: var(--card-hover);
  box-shadow: 0px 10px 25px #38bdf8;
}


/* ================= LINKS ================= */

.projects a {
  color: var(--link);
  text-decoration: none;
  transition: filter 0.3s ease, text-decoration 0.3s ease;
}

.projects a:hover {
  filter: contrast(600%);
  text-decoration: underline;
}

/* ================= CONTACT ================= */

.contact-list {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1.5rem;
}

.contact-list i {
  font-size: 1.5rem;
}

.contact-list a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text);
  text-decoration: none;
  font-size: 1rem;
  padding: 6px 12px;
  border-radius: 8px;
  transition: transform 0.25s ease, color 0.25s ease,
    background-color 0.25s ease;
}

.contact-list a:hover {
  transform: translateY(-4px);
  color: var(--accent);
  background-color: rgba(56, 189, 248, 0.08);
}

/* ================= FOOTER ================= */


footer {
  text-align: center;
  padding: 2rem 1rem;
  background-color: #020617;
  font-size: 0.9rem;
  opacity: 0.8;
}

/* ================= RESPONSIVE ================= */

/* Tablet */
@media (max-width: 768px) {
  header h1 {
    font-size: 4rem;
  }

  .section-title {
    font-size: 2rem;
  }

  .skill {
    flex: 0 0 calc(50% - 1rem);
  }
}
/* Mobile */
@media (max-width: 480px) {
  header h1 {
    font-size: 2.6rem;
  }

  header p {
    font-size: 0.85rem;
  }

  nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center; /* centers each row */
    gap: 0.1rem;
   
  }
  nav a {
    flex: 0 0 30%; /* approx 3 items per row */
    text-align: center;
    align-self: center;
    font-size: 0.95rem;
    
  }
  section {
    padding: 2rem 1rem;
  }

  .section-title {
    font-size: 1.8rem;
  }

  .card {
    padding: 1.2rem;
    margin-bottom: 3rem;
  }

  .skill {
    flex: 0 0 46%;
    margin: 0 auto; /* centers the skill box */
    font-size: 0.85rem;
    padding: 0.8rem 1.5rem;
  }

  .contact-list {
    gap: 1rem;
  }

  .contact-list a {
    font-size: 0.9rem;
  }
}


