/* ================= SKILLS ================= */

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-lg);
}

.skill {
  flex: 0 0 calc(33.333% - 1.5rem);

  padding: 1rem 0rem;
  border-radius: var(--radius-xl);
  font-size: 0.9rem;

  font-weight: bold;
  text-align: center;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    background 0.3s ease,
    color 0.3s ease;

  background: var(--skill-bg);
  border: 1px solid rgba(255, 255, 255, 0.1);

  backdrop-filter: blur(8px);

  border-radius: var(--radius-xxl);
}

.skill:hover {
  background: var(--glass-hover-skill);
  color: var(--text-primary);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transform: translateY(-4px);
}